.canvas {
    background: #ccc;
    border: 1px solid #000;
    margin: auto;
    position: relative;
}

.clear-btn {
    border-radius: 5px;
    margin-top: 10px;
    padding: 20px;
}

.clear-btn:hover {
    background: rgb(150, 15, 15);
    color: #fff;
    margin-top: 10px;
    padding: 20px;
}